* {
  font-family: 'Helvetica';
}

img {
  border: 6px solid #214;
  border-radius: 20px;
  max-height: 200px;
  max-width: 25%;
  margin: 1.5%;
  vertical-align: middle;
}

li {
  list-style: none;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
  width: 75%;
}

color scheme (in order of appearance, most to least):
white: 255,255,255 
dark blue: #2263ae
light teal: 43c4dd
green: 009e6d
neon green: 71bf4a